<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>810837659658-evd4tv0m76qgia2n54073khph0e3drlf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.810837659658-evd4tv0m76qgia2n54073khph0e3drlf</string>
	<key>API_KEY</key>
	<string>AIzaSyAWKZGOUCVHDK9kNItnHLNCan6p7--LJMg</string>
	<key>GCM_SENDER_ID</key>
	<string>810837659658</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.filmFilm</string>
	<key>PROJECT_ID</key>
	<string>mxh123-21fe3</string>
	<key>STORAGE_BUCKET</key>
	<string>mxh123-21fe3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:810837659658:ios:da9ae2afbb2d5d3217cff3</string>
</dict>
</plist>